root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.ps1]
end_of_line = crlf
charset = utf-8-bom

[*.psm1]
end_of_line = crlf
charset = utf-8-bom

[*.psd1]
end_of_line = crlf
charset = utf-8-bom

[*.{bat,cmd}]
end_of_line = crlf

[*.{md,yml,yaml,json}]
end_of_line = lf
charset = utf-8
